@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 360px;
    margin: 0 auto;
}

.card{
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1em;
}

.card image{
    width: 100%;
    border-radius: 17px;
}

.text{
    padding: 22px 10px ;

}

.text h3{
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px ;
}

.text p{
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 11px; 
    text-align:center;
    background-color:white ;
    color: hsl(218, 44%, 22%) ;
    
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}